.outer_div_hotel{
    margin-top: 2%;
   
  }
  .first_div_hotel{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding-left: 2%;
    padding-right: 2%;
  }
  .way_options_hotel{
  /* border: 1px solid black; */
  width: 28%;
  }
  .way_type_hotel{
    margin-right: 5%;
  }
  .way_type input_hotel{
    margin-right: 2%;
  }
  .location_select_hotel{
    margin: 2%;
    display: grid;
    grid-template-columns:25% 15% 15% 25% 20% ;
    border: 1px solid gray;
    border-radius: 7px;
    height: 20vh;
  }
  .location_opt_hotel{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 7%;
    padding-right: 5%;
    height: 100%;
    /* border: 1px solid black; */
  }
  .first_bold option{
    font-size: 16px;
  }
  .location_opt_float_hotel{
    background-color: white;
    font-size: 2rem;
    position: relative;
    top: 30%;
    right: 0.9rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: #fff;
    color: rgb(66, 66, 236);
  }
  .second_bold_hotel{
    font-weight: bold;
    /* width: 50px; */
  }
  .first_bold_hotel{
    margin-top: 1.4rem;
    margin-right:2%;
    font-size:2rem;
    font-weight: bolder;
  }
  /* ---------------edited by aajad------------- */
/* .checkout{
  width: 100px;
} */
  @media only screen and (max-width: 600px) {
    .first_bold_hotel{
      font-size:1rem;
      font-weight:normal;
    }
    .second_bold_hotel{
      font-weight: normal;
    }
    .first_div_hotel{
      padding-top:2rem ;
      display: flex;
      justify-content: space-between;
      /* border: 1px solid black; */
    }
    .location_opt_float_hotel{
      z-index: -1;
  }
  
  }
  .last_opts_hotel{
    /* style={{display:"flex", justifyContent:"space-between",padding:"10px"}} */
    display:flex;
    justify-content: space-between;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .first_div_last_hotel{
    /* style={{display:"grid",gap:"3px", gridTemplateColumns:"repeat(6,1fr)"}} */
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(6,1fr);
    font-size: 0.8rem;
  }
  .second_div_last_hotel{
    /* style={{display:"grid",gap:"3px", gridTemplateColumns:"repeat(3,1fr)"}} */
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3,1fr);
    font-size: 0.8rem;
  }
  /* .back_shadow_hotel{
    background-color:#BDBDBD;
    border-radius: 3px;
  } */
  @media only screen and (max-width: 600px) {
    .last_opts_hotel{
      /* style={{display:"flex", justifyContent:"space-between",padding:"10px"}} */
      display:block;
    }
    .first_div_last_hotel{
     margin-bottom: 0.5rem;
    }
  }
  .src_btn_hotel{
    background-color: #1565C0; /* Green */
    border: none;
    color: white;
    padding: 0.4rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 14px;
    /* position: relative; */
    left: 45%;
    margin-left: 10px;
    margin-top:1vh;
  }
  