.Navbar-search-items-icon {
  text-align: center;
  display: grid;
  gap: 6%;
  grid-template-columns: repeat(10,1fr);
  border-radius: 10px;
   /* margin: -3rem 0 0 12rem;  */
   margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 6px;
/* margin-bottom: 5%;  */
width: 100%;
}
