.SliderWidth {
  width: 70%;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.tabFlex {
  justify-content: space-between;
}

.sliderItem {
  margin: 20px;
}

.slick-list {
  padding: 0 20% 0 0 !important;
}

.itemBody {
  margin: 5px 10px 5px 2px;
  padding: 10px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.itemChild {
  display: flex;
  gap: 10px;
}

.itemText {
  text-align: left;
}

.itemDown {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.offerSlider {
  width: 300px;
}

.itemDown button {
  border: none;
  color: rgb(0, 140, 255);
  background: none;
  font-size: 18px;
}

.offerSlider {
  width: 80%;
  margin: auto;
}
/* .downBody{
   border: 1px solid red;
  
} */
/* .downChild{
    display: flex;
    gap: 10px;
} */

/* promotion css */
.promotion {
  width: 70%;
  margin: auto;
  margin-top: -30px;
  justify-content: space-between;
}

.promotionBody {
  /* margin: auto; */
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 32%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
}

.promotionBody img {
  width: 90px;
  height: 90px;
}

.promotionBody .promotionText {
  text-align: left;
}

/* Download css */
.DownloadPage {
  width: 70%;
  margin: 20px auto;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.DownloadPage .downloadDesc {
  /* width: 80%; */
  flex-basis: 140%;
}

.DownloadPage .downloadDescTitle {
  display: flex;
  gap: 20px;
}

.DownloadPage .downloadDescTitle .next {
  text-align: left;
}

.DownloadPage .downloadDescTitle img {
    width: 12%;
    height: 12%;
}

.DownloadPage .DownloadRight {
  display: flex;
  gap: 5px;
  justify-content: right;
}

.DownloadRight .mid {
    width: fit-content;
}

.DownloadPage .DownloadRight .mid img {
    width: 80%;
}

.doTx {
  font-size: 30px;
  font-weight: bolder;
}

.rightScan {
  width: 40%;
  padding: 2%;
}

.DownloadPage .downPlace {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.DownloadPage .downPlace input {
    border: 1px solid gray;
    padding: 5px;
    width: 50%;
}

.DownloadPage .downPlace .app {
    border: 1px solid rgb(0, 140, 255);
    color: rgb(0, 140, 255);
    padding: 5px;
    font-weight: bold;
}
